@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .visually-visible {
    clip: initial;
    clip-path: initial;
    height: initial;
    overflow: inherit;
    position: initial;
    white-space: initial;
    width: initial;
  }
}

@layer base {

  * {
    @apply box-border m-0 p-0
  }


  html {
    @apply overflow-x-hidden mr-[calc(-1*(100vw-100%))] {
      /*dont move scroll after open modal */
    }
  }

  body {
    @apply bg-lightGray dark:bg-darkGray ;
    @apply text-black dark:text-white;
    @apply font-roboto;
  }

}